:root {
  color-scheme: dark;
}

body {
  background: black;
  color: white;
}

video {
  width: 100%;
}

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: white;
  text-decoration: none;
}

.underlap {
  margin-top: -100px;
    z-index: -1;
    position: relative;
}