:root {
  color-scheme: dark;
}

body {
  background: black;
  color: white;
}

.accent {
  color: #5D0001;
}

.accent-bg {
  background: #5D0001;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

.lighter {
  opacity: 0.6;
}

.bg-vid {
  width: 100%;
  height: 80vh;

  position: relative;
}

.bg-vid video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.bg-vid .banner {
  z-index: 1;
  position: relative;
}

.bg-vid .hero {
  z-index: 1;
  position: relative;
}

video {
  width: 100%;
}

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a, a:hover {
  color: white;
  text-decoration: none;
}

.feature-container {
}

.feature {
  background: #5D0001;
}

.bg-yt {
  background: white;
  color: black;
}